.profile {
  border: 1px solid #ddd;
  padding: 1em;
  margin-top: 2em;
  color: #444;
}

.profile__heading {
  margin-bottom: 0.3em;
  margin-top: 0;
  border-bottom: 1px dashed #ddd;
  display: inline-block;
  font-weight: normal;
  font-family: Garamond, 'Times New Roman', serif;
}

.profile__image {
  float: left;
  margin-right: 6px;
}

.profile__content {
  overflow: hidden;
  font-family: Garamond, 'Times New Roman', serif;
  line-height: 1.5em;
  color: #666;
}

.profile__social-list {
  margin: .5em 0 0 0;
  padding: 0;
  list-style-type: none;
}

.profile__social-list-item {
  display: inline;
  margin-right: .5em;
}

.amazon-book-list {
  margin-top: 2em;
}

.amazon-book-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.amazon-book-list li {
  display: table-cell;
  padding: 10px;
  font-size: .875em;
  line-height: 1.5;
}

.amazon-book-list li a {
  color: #666;
}

.amazon-book-list li img {
  display: block;
}

.amazon-book-list-3 li {
  width: 33%;
}

.amazon-book-list-4 li {
  width: 25%;
}

.amazon-book-list-5 li {
  width: 20%;
}

.content hr {
  border-top-width: 0;
  border-bottom-width: 1;
  border-style: solid;
  border-color: #ddd;
  margin-top: 4em;
}

.pagination {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.page-number, .extend.next, .extend.prev, .pagination .space {
  min-width: 59px;
  min-height: 59px;
  text-align: center;
  line-height: 59px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
}

.pagination .space {
  border-color: transparent;
}

.page-number.current {
  font-weight: bold;
}

/* PrismJS 1.9.0
http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+ruby+diff+json+perl+python+jsx+scss+swift+typescript&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: black;
   background: none;
   text-shadow: 0 1px white;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
 }

 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
 }

 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #f5f2f0;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #5f6d7b;
 }

 .token.punctuation {
   color: #525252;
 }

 .namespace {
   opacity: .7;
 }

 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #905;
 }

 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #055a01;
 }

 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #695037;
 }

 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #03427b;
 }

 .token.function {
   color: #9a213b;
 }

 .token.regex,
 .token.important,
 .token.variable {
   color: #714902;
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }

 .token.entity {
   cursor: help;
 }

 pre.line-numbers {
   position: relative;
   padding-left: 3.8em;
   counter-reset: linenumber;
 }

 pre.line-numbers > code {
   position: relative;
     white-space: inherit;
 }

 .line-numbers .line-numbers-rows {
   position: absolute;
   pointer-events: none;
   top: 0;
   font-size: 100%;
   left: -3.8em;
   width: 3em; /* works for line-numbers below 1000 lines */
   letter-spacing: -1px;
   border-right: 1px solid #999;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

 }

   .line-numbers-rows > span {
     pointer-events: none;
     display: block;
     counter-increment: linenumber;
   }

     .line-numbers-rows > span:before {
       content: counter(linenumber);
       color: #6f6f6f;
       display: block;
       padding-right: 0.8em;
       text-align: right;
     }
