<footer class="profile">
  <div class="profile-inner">
    <div class="profile__image"><img src="/assets/icons/icon.svg" role="presentation" width="48" height="48" alt="icon"></div>
    <h2 class="profile__heading">About the Author</h2>
    <div class="profile__content">
      <div>Yutaka Yamaguchi</div>
      <div>a (front-end) engineer living in Tokyo, using TypeScript, Node.js, JavaScript, swift and perl for work, interested in WASM and Rust, studying English.</div>
      <ul class="profile__social-list">
        <li class="profile__social-list-item"><a href="https://twitter.com/memolog">Twitter</a></li>
        <li class="profile__social-list-item"><a href="https://www.linkedin.com/in/yutakayamaguchi/">LinkedIn</a></li>
        <li class="profile__social-list-item"><a href="https://www.facebook.com/yutaka.yamaguchi">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>
