<div class="header__feature" aria-hidden="hidden">
  <div class="featured__image">
    <% if (featured.image) { %>
      <% if (featured.format) { %>
        <%- picture(`/assets/images/${featured.image}/${featured.image}.${featured.format}`, {data: featured}) %>
      <% } else { %>
        <%- picture(`/assets/images/${featured.image}/${featured.image}.svg`, {data: featured}) %>
      <% } %>
    <% } %>
  </div>
  <% if (featured.author) { %>
    <div class="featured__credit"><% if (!featured.original) { %>Original <% } %>Photo by <a href="<%= featured.authorLink %>" target="_blank" rel="noopener"><%= featured.author %></a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener">Unsplash</a></div>
  <% } %>
</div>
